# This file assigns default reviewers for pull requests.
* @AdiFranDev  @itchiii16  @Jhey20-sys @SuiSensei  @cjohnramirez 
/docs/  @cjohnramirez 
/frontend/  @AdiFranDev  @itchiii16  @Jhey20-sys @SuiSensei  @cjohnramirez 